body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    background-color: rgb(63, 63, 63);                                            /* kui tahan borderless kujundust */
}

a:link {
    text-decoration: none;
}

header {
    background-color: rgb(63, 63, 63);
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: top;                           /*mis osa pildist tahan kasutada, kui ei ole õiges mõõdus */
    background-size: cover;
    
}

header img {
    width: 150px;
}

header h1 {
    color: white;
}

header a {
    color: rgb(255, 255, 255);
}

header a:hover {
    color: aqua;
}

header a:active {
    color: darkgray;
}

nav {                                   /* üldine navi kujundus */
    display: flex;
    justify-content: center;
    background-color: rgb(63, 63, 63);
    margin-top: 15px;
    margin: 0;
    margin-bottom: 15px;
    background-color: rgb(113, 121, 121);

}

nav ul {
    display: flex;
    list-style-type: none;       /*   kui ei taha navi linkide ette tärne */

}

nav > ul > li > a {                                     /*menüü vahel tühikud */
    color: white;
    margin-left: 10px;
}


main {
    background-color: rgb(63, 63, 63);
    display: flex;
    min-height: 680px;
}

aside {                                                             /*külgpaan */
    
    width: 20%;

}

main aside {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside1 {
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.reklaam {
    width: 80%;
    
}

section {
    min-height: ;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.pildiga-blokk {
    display: flex;
  
}

.pildiga-blokk img {
    width: 45%;
    
}

footer {
    background-color: rgb(113, 121, 121);
    min-height: 100%;
    padding: 15px;
    display: flex;
    justify-content: right;
    margin-top: 15px;
    margin: 0;
    display: flex;
}

.footermenu {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    width: 90%;
    min-height: 50px; 
    margin-left: 100px;  
    align-items: left;
    flex-wrap: wrap;
    
}

.footermenu a {
    color: rgb(255, 255, 255);

}


footer1 {
    font-size: small;
    color: rgb(255, 255, 255);
    padding: 15px;
    display: flex;   
    justify-content: right; 
    margin-right: 15px; 
    

}

 ul1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    list-style-type: none;  
    color: rgb(255, 255, 255);   
    align-content: left; 

}



.blokk li {
    padding: 15px;
}

.footermenu h1 {                                        /* kui tahan eralid seda pealkirja muuta siis see toimib */
    color: rgb(255, 255, 255);
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: aliceblue;
    text-decoration: none;
    max-width: 10%;
    justify-content: left;

}

.menu {
    color: rgb(255, 255, 255);
}


