body {                                                      /* taust */
    background-color: bisque;
    background-image: url(./tree-736885__480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: aqua;
}

}

.konteiner {
    
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: rgb(230, 23, 23);
    flex-direction: row;
    flex-wrap: wrap
    
    
    
     


}

.uudised {                                                  /* uudiste vahe */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap
    
    
}

.uudised1 {                                                     /* esimene kast */
    width: 550px;
    height: 150px;
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background-image: url(./taevas.jpg); 
    text-overflow: ellipsis;
    overflow: scroll;    
    color: rgb(209, 18, 34);
    

    
    
    
    
    
    
}

.uudised2 {                                                     /* teine kast */
    width: 300px;
    height: 500px;
    background-color: rgb(255, 127, 244);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background-image: url(./uudised.jpg);
    background-size: cover;
    border-style: solid;
    overflow: scroll;
    color: black;
    
}

.uudised3 {                                                         /* kolmas kast */
    width: 650px;                                                   /* kui tahan, et kast muutuks koos tekstiga, et see mahuks ära siis ei tohi ette anda suuruseid vaid nt kõrgusele apanna ainult fit-content ja tuleks teha üldine ülem klass kus on üldised andmed  */
    height: 350px;
    background-color: rgb(232, 255, 127);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background-size: cover;
    border-style: solid;
    text-overflow: ellipsis;
    overflow: scroll;
    color: blue;
}


